apiVersion: v1
kind: Secret
metadata:
  name: akamai-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "host": "",
      "client_token": "",
      "client_secret": "",
      "access_token": "",
      "max_body": "",
      "account_key": ""
    }
